# **04-1. 로지스틱 회귀**

### 교재 186페이지

#### **01. 럭키백의 확률**

비린내 나는 럭키백 출시. 럭키백에 들어갈 수 있는 생선은 7종류.

럭키백에 들어간 생선의 크기, 무게 등이 주어졌을 때 각 생선에 대한 확률을 예측해보기.

k-최근접 이웃을 이용하여 가장 가까운 아웃 샘플의 클래스 확률을 이용해보기.

#### **02. 데이터 준비**

3장과 동일하게 판다스를 이용하여 csv파일을 읽어오기.

In [6]:
import pandas as pd
fish = pd.read_csv('https://bit.ly/fish_csv_data')
fish.head()

  Species  Weight  Length  Diagonal   Height   Width
0   Bream   242.0    25.4      30.0  11.5200  4.0200
1   Bream   290.0    26.3      31.2  12.4800  4.3056
2   Bream   340.0    26.5      31.1  12.3778  4.6961
3   Bream   363.0    29.0      33.5  12.7300  4.4555
4   Bream   430.0    29.0      34.0  12.4440  5.1340

데이터에 포함된 생선의 종류를 출력해보기. 총 7종류인 것을 확인.

In [7]:
print(pd.unique(fish['Species']))

['Bream' 'Roach' 'Whitefish' 'Parkki' 'Perch' 'Pike' 'Smelt']

Species 열을 타깃 데이터로 선정하기 위해 나머지 5개 열을 분리하여 훈련, 테스트 세트로 사용하기 위해 준비.

In [8]:
fish_input = fish[['Weight', 'Length', 'Diagonal', 'Height', 'Width']]

In [9]:
fish_input.head()

   Weight  Length  Diagonal   Height   Width
0   242.0    25.4      30.0  11.5200  4.0200
1   290.0    26.3      31.2  12.4800  4.3056
2   340.0    26.5      31.1  12.3778  4.6961
3   363.0    29.0      33.5  12.7300  4.4555
4   430.0    29.0      34.0  12.4440  5.1340

Species 데이터를 타겟 데이터로 지정.

In [10]:
fish_target = fish['Species']

나머지 5개 열로 이루어진 데이터를 훈련, 테스트 세트로 나누기.

In [11]:
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(fish_input, fish_target, random_state=42)

사이킷런의 StandardScaler 클래스를 이용, 각 세트를 표준화 전처리 하기.

In [12]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier(n_neighbors=3)
kn.fit(train_scaled, train_target)
print(kn.score(train_scaled, train_target))
print(kn.score(test_scaled, test_target))

0.8907563025210085
0.85